<% if @category.errors.any? %>
  <ul>
    <% @category.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @category do |c| %>
  <%= c.label :name %>
  <%= c.text_field :name %>
  <%= c.submit %>
<%end%>
